---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '34105997000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":[{"type":"match","id":"ca95830a-4232-11e7-b2cb-062445d3d668","attributes":{"createdAt":"2017-05-26T16:46:03Z","duration":904,"gameMode":"casual","patchVersion":"2.4","shardId":"na","stats":{"endGameReason":"surrender","queue":"casual"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"236e26b1-4235-11e7-9e93-0242ac110005"}]},"rosters":{"data":[{"type":"roster","id":"2316ab0b-4235-11e7-9e93-0242ac110005"},{"type":"roster","id":"2316adff-4235-11e7-9e93-0242ac110005"}]},"rounds":{"data":[]}}},{"type":"match","id":"cb2a23fc-4232-11e7-a057-063bc004098b","attributes":{"createdAt":"2017-05-26T16:46:03Z","duration":415,"gameMode":"casual_aral","patchVersion":"2.4","shardId":"na","stats":{"endGameReason":"victory","queue":"casual_aral"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"e9f9c5a2-4233-11e7-8681-0242ac110009"}]},"rosters":{"data":[{"type":"roster","id":"e9c7bf21-4233-11e7-8681-0242ac110009"},{"type":"roster","id":"e9c7b4b2-4233[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches?page%5Blimit%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '58051206000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":[{"type":"match","id":"c91c3da2-4232-11e7-8196-0667892d829e","attributes":{"createdAt":"2017-05-26T16:46:10Z","duration":291,"gameMode":"blitz_pvp_ranked","patchVersion":"2.4","shardId":"na","stats":{"endGameReason":"victory","queue":"blitz_pvp_ranked"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"a91b4b50-4233-11e7-827c-0242ac110003"}]},"rosters":{"data":[{"type":"roster","id":"a913b0ab-4233-11e7-827c-0242ac110003"},{"type":"roster","id":"a913ab5f-4233-11e7-827c-0242ac110003"}]},"rounds":{"data":[]}}}],"included":[{"type":"participant","id":"a9138891-4233-11e7-827c-0242ac110003","attributes":{"actor":"*Koshka*","shardId":"na","stats":{"assists":4,"crystalMineCaptures":0,"deaths":4,"farm":14.1,"firstAfkTime":-1,"gold":151,"goldMineCaptures":0,"itemGrants":{"*Item_Aegis*":1,"*Item_Aftershock*":1,"*Item_BrokenMyth*":1,"*Item_Clockwork*":1,"*Item_CoatOfPlates*":1,"*Item_CrystalBit*":1,"*Item_HalcyonChargers*":1,"*Item_HeavyPrism*":1,"*Item_KineticShield*":1,"*Item_LightShield*":1,"*Item_PiercingShard*":1,"*Item_ReflexBlock*":1,"*Item_TravelBoots*":1,"*Item_VoidBattery*":2},"itemSells":{},"itemUses":{"*Item_Aegis*":2,"*Item_HalcyonChargers*":2,"*Item_ReflexBlock*":3,"*Item_TravelBoots*":1},"items":["Aftershock","Aegis","Halcyon Chargers","Broken Myth","Coat Of Plates","Clockwork"],"jungleKills":1,"karmaLevel":2,"kills":3,"krakenCaptures":0,"level":30,"minionKills":5,"nonJungleMinionKills":4,"skillTier":17,"skinKey":"Koshka_Skin_CNY_RI","turretCaptures":0,"wentAfk":false,"winner":false}},"relationships":{"player":{"data":{"type":"player","id":"1fd58ca4-01e6-11e6-b01d-067e8bc536fd"}}}},{"type":"player","id":"4331e98c-7186-11e4-9ad1-062d0b175276","attributes":{"name":"Gatekeeper","shardId":"na","stats":{"karmaLevel":1,"level":29,"lifetimeGold":14128.6630859375,"lossStreak":0,"played":1521,"played_ranked":190,"skillTier":1,"winStreak":0,"wins":946,"xp":162657},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"player","id":"49d710de-d9bf-11e6-a228-06ab1a16f8e5","attributes":{"name":"kastelion","shardId":"na","stats":{"karmaLevel":2,"level":24,"lifetimeGold":14128.6630859375,"lossStreak":0,"played":588,"played_ranked":163,"skillTier":15,"winStreak":0,"wins":376,"xp":91983},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"participant","id":"a9139086-4233-11e7-827c-0242ac110003","attributes":{"actor":"*SAW*","shardId":"na","stats":{"assists":5,"crystalMineCaptures":0,"deaths":4,"farm":50.75,"firstAfkTime":-1,"gold":535,"goldMineCaptures":1,"itemGrants":{"*Item_BarbedNeedle*":1,"*Item_HeavySteel*":2,"*Item_KineticShield*":1,"*Item_LightShield*":1,"*Item_LuckyStrike*":1,"*Item_MinionsFoot*":1,"*Item_SerpentMask*":1,"*Item_TensionBow*":1,"*Item_TornadoTrigger*":1,"*Item_TyrantsMonocle*":1,"*Item_WeaponBlade*":1},"itemSells":{},"itemUses":{},"items":["Tornado Trigger","Tension Bow","Serpent Mask","Kinetic Shield","Heavy Steel","Tyrants Monocle"],"jungleKills":1,"karmaLevel":1,"kills":1,"krakenCaptures":0,"level":29,"minionKills":24,"nonJungleMinionKills":23,"skillTier":1,"skinKey":"SAW_Skin_SAWborg_T3","turretCaptures":1,"wentAfk":false,"winner":true}},"relationships":{"player":{"data":{"type":"player","id":"4331e98c-7186-11e4-9ad1-062d0b175276"}}}},{"type":"roster","id":"a913b0ab-4233-11e7-827c-0242ac110003","attributes":{"shardId":"na","stats":{"acesEarned":0,"gold":42201,"heroKills":10,"krakenCaptures":0,"side":"left/blue","turretKills":0,"turretsRemaining":4},"won":"false"},"relationships":{"participants":{"data":[{"type":"participant","id":"a9138891-4233-11e7-827c-0242ac110003"},{"type":"participant","id":"a9138d24-4233-11e7-827c-0242ac110003"},{"type":"participant","id":"a913ab94-4233-11e7-827c-0242ac110003"}]},"team":{"data":null}}},{"type":"player","id":"94d1e93c-3e93-11e6-8387-062cb73cdbb1","attributes":{"name":"HeyThereFriend","shardId":"na","stats":{"karmaLevel":2,"level":30,"lifetimeGold":14067.33203125,"lossStreak":0,"played":993,"played_ranked":943,"skillTier":14,"winStreak":0,"wins":803,"xp":175450},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"participant","id":"a9138d24-4233-11e7-827c-0242ac110003","attributes":{"actor":"*Ringo*","shardId":"na","stats":{"assists":4,"c[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches?filter%5BplayerNames%5D=Linkosoul
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches?filter%5BplayerNames%5D=TheRealKrul
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '6000000000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found"}]}
  recorded_at: Fri, 26 May 2017 19:47:33 GMT
recorded_with: VCR 3.0.3
