---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches/37f94e56-1360-11e7-a250-062445d3d668
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '57218011000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":{"type":"match","id":"37f94e56-1360-11e7-a250-062445d3d668","attributes":{"createdAt":"2017-03-28T02:42:53Z","duration":924,"gameMode":"casual","patchVersion":"","shardId":"na","stats":{"endGameReason":"victory","queue":"casual"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"935cc70c-1362-11e7-9a29-0242ac110009"}]},"rosters":{"data":[{"type":"roster","id":"93142df4-1362-11e7-9a29-0242ac110009"},{"type":"roster","id":"931426c4-1362-11e7-9a29-0242ac110009"}]},"rounds":{"data":[]}}},"included":[{"type":"participant","id":"93142964-1362-11e7-9a29-0242ac110009","attributes":{"actor":"*Krul*","stats":{"assists":0,"crystalMineCaptures":0,"deaths":9,"farm":11.425,"firstAfkTime":-1,"gold":135,"goldMineCaptures":0,"itemGrants":{"*1000_Item_HalcyonPotion*":13,"*1002_Item_WeaponBlade*":1,"*1004_Item_SwiftShooter*":1,"*1010_Item_BlazingSalvo*":1,"*1030_Item_SprintBoots*":1,"*1046_Item_Crucible*":1,"*1054_Item_ScoutTrap*":23},"itemSells":{"*1002_Item_WeaponBlade*":1},"itemUses":{"*1000_Item_HalcyonPotion*":9,"*1030_Item_SprintBoots*":4,"*1046_Item_Crucible*":1,"*1054_Item_ScoutTrap*":23},"items":["Blazing Salvo","Halcyon Potion","Sprint Boots","Halcyon Potion","Crucible"],"jungleKills":5,"karmaLevel":1,"kills":0,"krakenCaptures":0,"level":8,"minionKills":11,"nonJungleMinionKills":6,"skillTier":-1,"skinKey":"Krul_DefaultSkin","turretCaptures":0,"wentAfk":false,"winner":false}},"relationships":{"player":{"data":{"type":"player","id":"fef663a8-12a3-11e7-971a-02866102f5a6"}}}},{"type":"participant","id":"93142ba5-1362-11e7-9a29-0242ac110009","attributes":{"actor":"*Kestrel*","stats":{"assists":0,"crystalMineCaptures":0,"deaths":5,"farm":63,"firstAfkTime":-1,"gold":80,"goldMineCaptures":0,"itemGrants":{"*1002_Item_WeaponBlade*":1,"*1004_Item_SwiftShooter*":1,"*1005_Item_SixSins*":1,"*1010_Item_BlazingSalvo*":1,"*1012_Item_Sorrowblade*":1,"*1016_Item_Dragonheart*":1,"*1030_Item_SprintBoots*":1,"*1032_Item_TravelBoots*":1,"*1042_Item_Shiversteel*":1,"*1065_Item_HeavySteel*":1,"*1092_Item_PoisonedShiv*":1},"itemSells":{},"itemUses":{"*1030_Item_SprintBoots*":1,"*1032_Item_TravelBoots*":4,"*1042_Item_Shiversteel*":3},"items":["Sorrowblade","Poisoned Shiv","Travel Boots","Shiversteel"],"jungleKills":0,"karmaLevel":1,"kills":2,"krakenCaptures":0,"level":5,"minionKills":49,"nonJungleMinionKills":49,"skillTier":-1,"skinKey":"Kestrel_DefaultSkin","turretCaptures":0,"wentAfk":false,"winner":false}},"relationships":{"player":{"data":{"type":"player","id":"f90a22e4-1114-11e7-9680-02b3611af5e6"}}}},{"type":"player","id":"1662d86e-0c5f-11e7-bb5d-02f3b4306918","attributes":{"name":"wheatcl","shardId":"","stats":{"level":10,"lifetimeGold":11369.5,"lossStreak":1,"played":9,"played_ranked":0,"winStreak":0,"wins":12,"xp":5847},"titleId":""},"relationships":{"assets":{"data":[]}}},{"type":"participant","id":"93141a20-1362-11e7-9a29-0242ac110009","attributes":{"actor":"*Catherine*","stats":{"assists":7,"crystalMineCaptures":0,"deaths":0,"farm":19.925,"firstAfkTime":-1,"gold":308,"goldMineCaptures":1,"itemGrants":{"*1000_Item_HalcyonPotion*":11,"*1015_Item_Oakheart*":2,"*1016_Item_Dragonheart*":1,"*1030_Item_SprintBoots*":1,"*1043_Item_ReflexBlock*":1,"*1045_Item_FountainOfRenewal*":1,"*1046_Item_Crucible*":1,"*105[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches/invalid-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '54280901000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found"}]}
  recorded_at: Tue, 28 Mar 2017 06:22:09 GMT
recorded_with: VCR 3.0.3
