---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '6000000000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":[{"type":"match","id":"0196d4e0-1366-11e7-bcff-0667892d829e","attributes":{"createdAt":"2017-03-28T03:24:25Z","duration":196,"gameMode":"blitz_pvp_ranked","patchVersion":"","shardId":"na","stats":{"endGameReason":"victory","queue":"blitz_pvp_ranked"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"a42fc452-1366-11e7-9a29-0242ac110009"}]},"rosters":{"data":[{"type":"roster","id":"a426506d-1366-11e7-9a29-0242ac110009"},{"type":"roster","id":"a4264b0e-1366-11e7-9a29-0242ac110009"}]},"rounds":{"data":[]}}},{"type":"match","id":"ffaaa9c2-1365-11e7-a250-062445d3d668","attributes":{"createdAt":"2017-03-28T03:24:27Z","duration":1182,"gameMode":"casual","patchVersion":"","shardId":"na","stats":{"endGameReason":"surrender","queue":"casual"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"f6015361-1368-11e7-b11e-0242ac110006"}]},"rosters":{"data":[{"type":"roster","id":"f5aa2b3b-1368-11e7-b11e-0242ac110006"},{"type":"roster","id":"f5aa2df6-1368-11e7-b11e[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches?page%5Blimit%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '11673295000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":[{"type":"match","id":"045f038c-1366-11e7-b318-0671096b3e30","attributes":{"createdAt":"2017-03-28T03:24:24Z","duration":1197,"gameMode":"ranked","patchVersion":"","shardId":"na","stats":{"endGameReason":"victory","queue":"ranked"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"3541fd7c-1369-11e7-97ce-0242ac11000a"}]},"rosters":{"data":[{"type":"roster","id":"34f3d679-1369-11e7-97ce-0242ac11000a"},{"type":"roster","id":"34f3ce93-1369-11e7-97ce-0242ac11000a"}]},"rounds":{"data":[]}}}],"included":[{"type":"participant","id":"34f3d15a-1369-11e7-97ce-0242ac11000a","attributes":{"actor":"*Catherine*","stats":{"assists":6,"crystalMineCaptures":0,"deaths":5,"farm":33.375,"firstAfkTime":987.2088012695312,"gold":453,"goldMineCaptures":0,"itemGrants":{"*1015_Item_Oakheart*":1,"*1016_Item_Dragonheart*":1,"*1017_Item_LightArmor*":1,"*1026_Item_Hourglass*":1,"*1028_Item_Chronograph*":2,"*1030_Item_SprintBoots*":1,"*1043_Item_ReflexBlock*":1,"*1045_Item_FountainOfRenewal*":1,"*1046_Item_Crucible*":1,"*1057_Item_AtlasPauldron*":1,"*1061_Item_LightShield*":1,"*1079_Item_Contraption*":1,"*1095_Item_NullwaveGauntlet*":1},"itemSells":{},"itemUses":{"*1030_Item_SprintBoots*":5,"*1045_Item_FountainOfRenewal*":4,"*1046_Item_Crucible*":2,"*1079_Item_Contraption*":3,"*1095_Item_NullwaveGauntlet*":1},"items":["Fountain of Renewal","Nullwave Gauntlet","Sprint Boots","Crucible","Atlas Pauldron","Contraption"],"jungleKills":2,"karmaLevel":1,"kills":4,"krakenCaptures":0,"level":14,"minionKills":28,"nonJungleMinionKills":26,"skillTier":2,"skinKey":"Catherine_Skin_Ice_RI","turretCaptures":1,"wentAfk":true,"winner":false}},"relationships":{"player":{"data":{"type":"player","id":"cf9b79c0-f4a5-11e6-9d6a-029cb633549e"}}}},{"type":"asset","id":"3541fd7c-1369-11e7-97ce-0242ac11000a","attributes":{"URL":"https://gl-prod-us-east-1.s3.amazonaws.com/assets/semc-vainglory/na/2017/03/28/03/47/3541fd7c-1369-11e7-97ce-0242ac11000a-telemetry.json","contentType":"application/json","createdAt":"2017-03-28T03:47:04Z","description":"","filename":"telemetry.json","name":"telemetry"}},{"type":"player","id":"42fe67d6-7794-11e6-9309-06f4ee369f53","attributes":{"name":"Your0Vrag","shardId":"","stats":{"level":16,"lifetimeGold":12672,"lossStreak":0,"played":240,"played_ranked":12,"winStreak":1,"wins":140,"xp":34270},"titleId":""},"relationships":{"assets":{"data":[]}}},{"type":"participant","id":"34f3c419-1369-11e7-97ce-0242ac11000a","attributes":{"actor":"*Idris*","stats":{"assists":7,"crystalMineCaptures":1,"deaths":5,"farm":69.5,"firstAfkTime":-1,"gold":0,"goldMineCaptures":0,"itemGrants":{"*1002_Item_WeaponBlade*":3,"*1004_Item_SwiftShooter*":1,"*1010_Item_BlazingSalvo*":3,"*1014_Item_TornadoTrigger*":1,"*1034_Item_SerpentMask*":2,"*1059_Item_BookOfEulogies*":1,"*1060_Item_BarbedNeedle*":2,"*1065[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches?filter%5BplayerNames%5D=KngBEAZT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-R[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches?filter%5BplayerNames%5D=TheRealKrul
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Reset:
      - '23031551000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found"}]}
  recorded_at: Tue, 28 Mar 2017 06:24:24 GMT
recorded_with: VCR 3.0.3
