---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches/ca95830a-4232-11e7-b2cb-062445d3d668
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '11700834000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":{"type":"match","id":"ca95830a-4232-11e7-b2cb-062445d3d668","attributes":{"createdAt":"2017-05-26T16:46:03Z","duration":904,"gameMode":"casual","patchVersion":"2.4","shardId":"na","stats":{"endGameReason":"surrender","queue":"casual"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"236e26b1-4235-11e7-9e93-0242ac110005"}]},"rosters":{"data":[{"type":"roster","id":"2316ab0b-4235-11e7-9e93-0242ac110005"},{"type":"roster","id":"2316adff-4235-11e7-9e93-0242ac110005"}]},"rounds":{"data":[]}}},"included":[{"type":"player","id":"e14ea536-40b1-11e7-9c18-02081e0fc90e","attributes":{"name":"Daniel77","shardId":"na","stats":{"karmaLevel":1,"level":30,"lifetimeGold":9116,"lossStreak":0,"played":2373,"played_ranked":440,"skillTier":19,"winStreak":0,"wins":1223,"xp":175450},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"participant","id":"2316a734-4235-11e7-9e93-0242ac110005","attributes":{"actor":"*Rona*","shardId":"na","stats":{"assists":2,"crystalMineCaptures":0,"deaths":6,"farm":77.675,"firstAfkTime":885.9503784179688,"gold":299,"goldMineCaptures":0,"itemGrants":{"*Item_BlazingSalvo*":1,"*Item_BookOfEulogies*":1,"*Item_CoatOfPlates*":1,"*Item_HeavySteel*":1,"*Item_LuckyStrike*":1,"*Item_MetalJacket*":1,"*Item_MinionsFoot*":1,"*Item_SerpentMask*":1,"*Item_SixSins*":1,"*Item_WeaponBlade*":2},"itemSells":{},"itemUses":{"*Item_HalcyonPotion*":2},"items":["Heavy Steel","Serpent Mask","Six Sins","Blazing Salvo","Metal Jacket","Lucky Strike"],"jungleKills":25,"karmaLevel":1,"kills":1,"krakenCaptures":0,"level":29,"minionKills":54,"nonJungleMinionKills":29,"skillTier":7,"skinKey":"Rona_Skin_Fury_T2","turretCaptures":1,"wentAfk":true,"winner":false}},"relationships":{"player":{"data":{"type":"player","id":"a5bb656e-2037-11e5-a497-06f4ee369f53"}}}},{"type":"participant","id":"231671ae-4235-11e7-9e93-0242ac110005","attributes":{"actor":"*Catherine*","shardId":"na","stats":{"assists":9,"crystalMineCaptures":2,"deaths":1,"farm":12,"firstAfkTime":-1,"gold":117,"goldMineCaptures":2,"itemGrants":{"*Item_AtlasPauldron*":1,"*Item_Chronograph*":1,"*Item_Clockwork*":1,"*Item_CoatOfPlates*":1,"*Item_EnergyBattery*":1,"*Item_Flare*":14,"*Item_FountainOfRenewal*":1,"*Item_IronguardContract*":1,"*Item_KineticShield*":1,"*Item_Lifespring*":1,"*Item_LightArmor*":1,"*Item_Oakheart*":1,"*Item_ScoutTrap*":8,"*Item_SprintBoots*":1,"*Item_StormguardBanner*":1,"*Item_TravelBoots*":1,"*Item_VoidBattery*":1},"itemSells":{"*Item_IronguardContract*":1},"itemUses":{"*Item_AtlasPauldron*":5,"*Item_Flare*":10,"*Item_FountainOfRenewal*":4,"*Item_HalcyonPotion*":2,"*Item_ScoutTrap*":8,"*Item_SprintBoots*":2},"items":["Fountain of Renewal","Atlas Pauldron","Travel Boots","Clockwork","Stormguard Banner","Flare"],"jungleKills":2,"karmaLevel":2,"kills":3,"krakenCaptures":0,"level":30,"minionKills":13,"nonJungleMinionKills":11,"skillTier":27,"skinKey":"Catherine_Skin_Vampire_T3","turretCaptures":1,"wentAfk":false,"winner":true}},"relationships":{"player":{"data":{"type":"player","id":"9d0f1296-9beb-11e5-b87d-06b48b82cd49"}}}},{"type":"roster","id":"2316ab0b-4235-11e7-9e93-0242ac110005","attributes":{"shardId":"na","stats":{"acesEarned":1,"gold":27987,"heroKills":6,"krakenCaptures":0,"side":"left/blue","turretKills":1,"turretsRemaining":4},"won":"false"},"relationships":{"participants":{"data":[{"type":"participant","id":"2316815a-4235-11e7-9e93-0242ac110005"},{"type":"participant","id":"2316882e-4235-11e7-9e93-0242ac110005"},{"type":"participant","id":"2316a734-4235-11e7-9e93-0242ac110005"}]},"team":{"data":null}}},{"type":"roster","id":"2316adff-4235-11e7-9e93-0242ac110005","attributes":{"shardId":"na","stats":{"acesEarned":0,"gold":32334,"heroKills":12,"krakenCaptures":0,"side":"right/red","turretKills":1,"turretsRemaining":4},"won":"true"},"relationships":{"participants":{"data":[{"type":"participant","id":"231671ae-4235-11e7-9e93-0242ac110005"},{"type":"participant","id":"231679db-4235-11e7-9e93-0242ac110005"},{"type":"participant","id":"2316ab24-4235-11e7-9e93-0242ac110005"}]},"team":{"data":null}}},{"type":"player","id":"a5bb656e-2037-11e5-a497-06f4ee369f53","attributes":{"name":"madeofhonor","shardId":"na","stats":{"karmaLevel":1,"level":29,"lifetimeGold":9177.875,"lossStreak":0,"played":1671,"played_ranked":12,"skillTier":7,"winStreak":0,"wins":802,"xp":146162},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"player","id":"9d0f1296-9beb-11e5-b87d-06b48b82cd49","attributes":{"name":"AcePichu","shardId":"na","stats":{"karmaLevel":2,"level":30,"lifetimeGold":9851,"lossStreak":0,"played":3204,"played_ranked":875,"skillTier":27,"winStreak":0,"wins":1457,"xp":175450},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"asset","id":"236e26b1-4235-11e7-9e93-0242ac110005","attributes":{"URL":"https://gl-prod-us-east-1.s3.amazonaws.com/assets/semc-vainglory/na/2017/05/26/17/02/236e26b1-4235-11e7-9e93-0242ac110005-telemetry.json","contentType":"application/json","createdAt":"2017-05-26T17:02:45Z","description":"","filename":"telemetry.json","name":"telemetry"}},{"type":"player","id":"d6b66d80-0b72-11e7-ba7e-0223dbc2587a","attributes":{"name":"Wolflash","shardId":"na","stats":{"karmaLevel":1,"level":25,"lifetimeGold":9694.625,"lossStreak":0,"played":748,"played_ranked":2,"skillTier":16,"winStreak":0,"wins":408,"xp":100892},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"participant","id":"2316815a-4235-11e7-9e93-0242ac110005","attributes":{"actor":"*Ringo*","shardId":"na","stats":{"assis[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches/invalid-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-Reset:
      - '17371194000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found"}]}
  recorded_at: Fri, 26 May 2017 19:47:34 GMT
recorded_with: VCR 3.0.3
