---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches/f5e7bff2-4aeb-11e7-b155-0671096b3e30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '59517366000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":{"type":"match","id":"f5e7bff2-4aeb-11e7-b155-0671096b3e30","attributes":{"createdAt":"2017-06-06T19:11:57Z","duration":1643,"gameMode":"ranked","patchVersion":"2.5","shardId":"na","stats":{"endGameReason":"victory","queue":"ranked"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"15a52c36-4af0-11e7-ba29-0242ac110006"}]},"rosters":{"data":[{"type":"roster","id":"1478b97d-4af0-11e7-ba29-0242ac110006"},{"type":"roster","id":"1478b9c9-4af0-11e7-ba29-0242ac110006"}]},"rounds":{"data":[]},"spectators":{"data":[]}}},"included":[{"type":"player","id":"f3d75f56-14b0-11e5-a694-06eb725f8a76","attributes":{"name":"Dehvuhl","shardId":"na","stats":{"elo_earned_season_4":0,"elo_earned_season_5":0,"elo_earned_season_6":0,"elo_earned_season_7":0,"karmaLevel":1,"level":13,"lifetimeGold":16316.625,"lossStreak":0,"played":160,"played_ranked":3,"skillTier":13,"winStreak":0,"wins":85,"xp":18165},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"player","id":"6bbcc0b0-1ece-11e6-a73e-06fc87f1dd11","attributes":{"name":"Bryangamer","shardId":"na","stats":{"elo_earned_season_4":1140.8205134101554,"elo_earned_season_5":1331.2039532066456,"elo_earned_season_6":1297.4319735772247,"elo_earned_season_7":1308.1993564877152,"karmaLevel":1,"level":30,"lifetimeGold":14659.5,"lossStreak":0,"played":1998,"played_ranked":351,"skillTier":13,"winStreak":0,"wins":716,"xp"[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches/invalid-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '59027007000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found"}]}
  recorded_at: Tue, 06 Jun 2017 22:12:23 GMT
recorded_with: VCR 3.0.3
