---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '34669731000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":[{"type":"match","id":"f5e7bff2-4aeb-11e7-b155-0671096b3e30","attributes":{"createdAt":"2017-06-06T19:11:57Z","duration":1643,"gameMode":"ranked","patchVersion":"2.5","shardId":"na","stats":{"endGameReason":"victory","queue":"ranked"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"15a52c36-4af0-11e7-ba29-0242ac110006"}]},"rosters":{"data":[{"type":"roster","id":"1478b97d-4af0-11e7-ba29-0242ac110006"},{"type":"roster","id":"1478b9c9-4af0-11e7-ba29-0242ac110006"}]},"rounds":{"data":[]},"spectators":{"data":[]}}},{"type":"match","id":"000a2664-4aec-11e7-9ea4-0667892d829e","attributes":{"createdAt":"2017-06-06T19:11:59Z","duration":249,"gameMode":"blitz_pvp_ranked","patchVersion":"2.5","shardId":"na","stats":{"endGameReason":"victory","queue":"blitz_pvp_ranked"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"bd6e4c97-4aec-11e7-a198-0242ac110005"}]},"rosters":{"data":[{"type":"roster","id":"bd64311c-4aec-11e7-a198-0242ac110005"},{"type":"roster","id":"bd6[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches?page%5Blimit%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '59466799000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":[{"type":"match","id":"000a2664-4aec-11e7-9ea4-0667892d829e","attributes":{"createdAt":"2017-06-06T19:11:59Z","duration":249,"gameMode":"blitz_pvp_ranked","patchVersion":"2.5","shardId":"na","stats":{"endGameReason":"victory","queue":"blitz_pvp_ranked"},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[{"type":"asset","id":"bd6e4c97-4aec-11e7-a198-0242ac110005"}]},"rosters":{"data":[{"type":"roster","id":"bd64311c-4aec-11e7-a198-0242ac110005"},{"type":"roster","id":"bd643161-4aec-11e7-a198-0242ac110005"}]},"rounds":{"data":[]},"spectators":{"data":[]}}}],"included":[{"type":"player","id":"0808829c-f5a8-11e5-bd32-067e8bc536fd","attributes":{"name":"Yorr","shardId":"na","stats":{"elo_earned_season_4":1236.2701526054798,"elo_earned_season_5":1132.0231131750127,"elo_earned_season_6":1264.4855035906835,"elo_earned_season_7":1171.7162676184103,"karmaLevel":1,"level":30,"lifetimeGold":12676.9990234375,"lossStreak":0,"played":2753,"played_ranked":763,"skillTier":13,"winStreak":0,"wins":1202,"xp":175450},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"player","id":"bf6b564c-6973-11e5-8eff-06b48b82cd49","attributes":{"name":"Otplee","shardId":"na","stats":{"elo_earned_season_4":0,"elo_earned_season_5":0,"elo_earned_season_6":0,"elo_earned_season_7":0,"karmaLevel":1,"level":30,"lifetimeGold":12651.9990234375,"lossStreak":0,"played":785,"played_ranked":2231,"skillTier":0,"winStreak":0,"wins":891,"xp":175450},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"participant","id":"bd643c19-4aec-11e7-a198-0242ac110005","attributes":{"actor":"*Adagio*","shardId":"na","stats":{"assists":4,"crystalMineCaptures":1,"deaths":2,"farm":31.9,"firstAfkTime":-1,"gold":12676.9990234375,"goldMineCaptures":0,"itemGrants":{"*Item_Crucible*":1,"*Item_Dragonheart*":1,"*Item_FountainOfRenewal*":1,"*Item_KineticShield*":1,"*Item_Lifespring*":1,"*Item_SprintBoots*":1,"*Item_Stormcrown*":1,"*Item_TravelBoots*":1,"*Item_WarTreads*":1},"itemSells":{},"itemUses":{"*Item_Crucible*":3,"*Item_FountainOfRenewal*":2,"*Item_WarTreads*":1},"items":["Stormcrown","Crucible","Fountain of Renewal","War Treads"],"jungleKills":2,"karmaLevel":1,"kills":0,"krakenCaptures":0,"level":30,"minionKills":12,"nonJungleMinionKills":10,"skillTier":13,"skinKey":"Adagio_Skin_Goth_T3","turretCaptures":1,"wentAfk":false,"winner":false}},"relationships":{"player":{"data":{"type":"player","id":"0808829c-f5a8-11e5-bd32-067e8bc536fd"}}}},{"type":"participant","id":"bd644f61-4aec-11e7-a198-0242ac110005","attributes":{"actor":"*Rona*","shardId":"na","stats":{"assists":1,"crystalMineCaptures":1,"deaths":4,"farm":3.5,"firstAfkTime":-1,"gold":12651.9990234375,"goldMineCaptures":0,"itemGrants":{"*Item_Aftershock*":1,"*Item_AlternatingCurrent*":1,"*Item_AtlasPauldron*":1,"*Item_Chronograph*":1,"*Item_CoatOfPlates*":1,"*Item_CrystalBit*":1,"*Item_EclipsePrism*":1,"[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches?filter%5BplayerNames%5D=GrimJaw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Re[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/matches?filter%5BplayerNames%5D=TheRealKrul
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '58250198000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found"}]}
  recorded_at: Tue, 06 Jun 2017 22:12:12 GMT
recorded_with: VCR 3.0.3
