---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players?filter%5BplayerNames%5D=GrimJaw,Bryangamer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '3'
      X-Ratelimit-Reset:
      - '40428671000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":[{"type":"player","id":"12b184cc-21d8-11e5-a63a-06eb725f8a76","attributes":{"createdAt":"2017-06-06T19:24:03Z","name":"GrimJaw","shardId":"na","stats":{"elo_earned_season_4":196.22730611005164,"elo_earned_season_5":0,"elo_earned_season_6":196.2167062310048,"elo_earned_season_7":0,"karmaLevel":2,"level":30,"lifetimeGold":15055.3310546875,"lossStreak":0,"played":1164,"played_ranked":2016,"skillTier":1,"winStreak":0,"wins":651,"xp":175450},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"player","id":"6bbcc0b0-1ece-11e6-a73e-06fc87f1dd11","attributes":{"createdAt":"2017-06-06T19:41:07Z","name":"Bryangamer","shardId":"na","stats":{"elo_earned_season_4":1140.8205134101554,"elo_earned_season_5":1331.2039532066456,"elo_earned_season_6":1297.4319735772247,"elo_earned_season_7":1308.1993564877152,"karmaLevel":1,"level":30,"lifetimeGold":14659.5,"lossStreak":0,"played":1998,"played_ranked":351,"skillTier":13,"winStreak":0,"wins":716,"xp":175450},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}}],"links":{"self":"https://api.dc01.gamelockerapp.com/shards/na/players?filter[playerNames]=GrimJaw,Bryangamer"},"meta":{}}
  recorded_at: Tue, 06 Jun 2017 22:11:54 GMT
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players?filter%5BplayerNames%5D=TheRealKrul
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Reset:
      - '45980875000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found","detail":"criteria: \u0026{ na [TheRealKrul] [] 6 0 0 semc-vainglory}"}]}
  recorded_at: Tue, 06 Jun 2017 22:11:54 GMT
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players/invalid-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '57489045000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found"}]}
  recorded_at: Tue, 06 Jun 2017 22:11:55 GMT
recorded_with: VCR 3.0.3
