---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players?filter%5BplayerNames%5D=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '6000000000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":[{"type":"player","id":"f0a27796-c150-11e6-b92a-06d90c28bf1a","attributes":{"createdAt":"2017-01-20T19:18:53Z","name":"oneshot911","shardId":"na","stats":{"lifetimeGold":11753,"lossStreak":1,"winStreak":0},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"player","id":"1a6d87e8-d5bd-11e6-a38e-06d90c28bf1a","attributes":{"createdAt":"2017-01-20T19:18:53Z","name":"TDGDrizzy","shardId":"na","stats":{"lifetimeGold":11485.2998046875,"lossStreak":2,"winStreak":0},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"player","id":"2cf6b9c6-d56c-11e6-941d-06f4ee369f53","attributes":{"createdAt":"2017-01-20T19:18:53Z","name":"TDGPaladin012","shardId":"na","stats":{"lifetimeGold":12533.5,"lossStreak":2,"winStre[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players?filter%5BplayerNames%5D=boombastic04
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '11463507000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":[{"type":"player","id":"6abb30de-7cb8-11e4-8bd3-06eb725f8a76","attributes":{"createdAt":"2017-03-15T19:46:43Z","name":"boombastic04","shardId":"na","stats":{"level":30,"lifetimeGold":18087.5,"lossStreak":1,"played":1564,"played_ranked":155,"winStreak":0,"wins":859,"xp":175450},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}}]}
  recorded_at: Tue, 28 Mar 2017 06:21:58 GMT
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players?filter%5BplayerNames%5D=TheRealKrul
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-Reset:
      - '17195963000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found","detail":"criteria: \u0026{ na [TheRealKrul] [] 50 0 semc-vainglory}"}]}
  recorded_at: Tue, 28 Mar 2017 06:21:58 GMT
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players/6abb30de-7cb8-11e4-8bd3-06eb725f8a76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Reset:
      - '22924792000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":{"type":"player","id":"6abb30de-7cb8-11e4-8bd3-06eb725f8a76","attributes":{"createdAt":"2017-03-15T19:46:43Z","name":"boombastic04","shardId":"na","stats":{"level":30,"lifetimeGold":18087.5,"lossStreak":1,"played":1564,"played_ranked":155,"winStreak":0,"wins":859,"xp":175450},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}}}
  recorded_at: Tue, 28 Mar 2017 06:21:59 GMT
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players/invalid-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Reset:
      - '28656141000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found"}]}
  recorded_at: Tue, 28 Mar 2017 06:21:59 GMT
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/eu/players?filter%5BplayerNames%5D=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '6[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/sa/players?filter%5BplayerNames%5D=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/ea/players?filter%5BplayerNames%5D=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-Reset:
      - '1[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/sg/players?filter%5BplayerNames%5D=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Reset:
      - '2[...]
