---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players?filter%5BplayerNames%5D=Linkosoul,jejearo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '3'
      X-Ratelimit-Reset:
      - '39650156000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":[{"type":"player","id":"e9bf6cb4-54ef-11e5-8a52-06d90c28bf1a","attributes":{"createdAt":"2017-05-26T17:23:26Z","name":"jejearo","shardId":"na","stats":{"karmaLevel":1,"level":30,"lifetimeGold":15534.25,"lossStreak":0,"played":2141,"played_ranked":3858,"skillTier":-1,"winStreak":0,"wins":2180,"xp":175450},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"player","id":"a2fe147e-2515-11e5-be61-06d90c28bf1a","attributes":{"createdAt":"2017-05-26T18:00:00Z","name":"Linkosoul","shardId":"na","stats":{"karmaLevel":2,"level":29,"lifetimeGold":23571.25,"lossStreak":0,"played":1244,"played_ranked":1281,"skillTier":1,"winStreak":0,"wins":535,"xp":157764},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}}],"links":{"self":"https://api.dc01.gamelockerapp.com/shards/na/players?filter[playerNames]=Linkosoul,jejearo"},"meta":{}}
  recorded_at: Fri, 26 May 2017 19:46:03 GMT
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players?filter%5BplayerNames%5D=TheRealKrul
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Reset:
      - '45380989000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found","detail":"criteria: \u0026{ na [TheRealKrul] [] 6 0 0 semc-vainglory}"}]}
  recorded_at: Fri, 26 May 2017 19:46:04 GMT
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players/invalid-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '56541068000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"errors":[{"title":"Not Found"}]}
  recorded_at: Fri, 26 May 2017 19:46:04 GMT
recorded_with: VCR 3.0.3
