---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/players/12b184cc-21d8-11e5-a63a-06eb725f8a76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '1'
      X-Ratelimit-Reset:
      - '51702261000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":{"type":"player","id":"12b184cc-21d8-11e5-a63a-06eb725f8a76","attributes":{"createdAt":"2017-06-06T19:24:03Z","name":"GrimJaw","shardId":"na","stats":{"elo_earned_season_4":196.22730611005164,"elo_earned_season_5":0,"elo_earned_season_6":196.2167062310048,"elo_earned_season_7":0,"karmaLevel":2,"level":30,"lifetimeGold":15055.3310546875,"lossStreak":0,"played":1164,"played_ranked":2016,"skillTier":1,"winStreak":0,"wins":651,"xp":175450},"titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},"links":{"self":"https://api.dc01.gamelockerapp.com/shards/na/players/12b184cc-21d8-11e5-a63a-06eb725f8a76"},"meta":{}}
  recorded_at: Tue, 06 Jun 2017 22:11:55 GMT
recorded_with: VCR 3.0.3
