---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/na/samples
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '6000000000'
      X-Title-Id:
      - semc-vainglory
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":[{"type":"sample","id":"sample-na-2017-02-28T00:15:30Z","attributes":{"URL":"https://gl-prod-us-east-1.s3.amazonaws.com/samples/semc-vainglory/na/2017/02/28/sample-na-2017-02-28T00%3A15%3A30Z.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIFMVS3LS6UEV5OWQ%2F20170606%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20170606T221152Z\u0026X-Amz-Expires=3600\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=d9b61b704c8eb6e8662ff167f01d49b210bcd93318a59763c5b77050456e5796","createdAt":"2017-02-28T00:15:30Z","shardId":"na","t0":"2017-02-28T00:15:30Z","t1":"2017-02-28T01:15:30Z","titleId":"semc-vainglory"},"relationships":{"assets":{"data":[]}}},{"type":"sample","id":"sample-na-2017-02-28T01:15:30Z","attributes":{"URL":"https://gl-prod-us-east-1.s3.amazonaws.com/samples/semc-vainglory/na/2017/02/28/sample-na-2017-02-28T01%3A15%3A30Z.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIFMVS3LS6UEV5OWQ%2F20170606%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20170606T221152Z\u0026X-Amz-Expires=3600\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=da4c7ee8689962c32afbd091301dd74e4309e860bb7fb0721ba2d3540983eeff"[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/eu/samples
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '11764810000'
      X-Title[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/sa/samples
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-Reset:
      - '17543337000'
      X-Title[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/ea/samples
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Reset:
      - '23317447000'
      X-Title[...]
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/shards/sg/samples
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_api_key
      X-Title-Id:
      - semc-vainglory
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Reset:
      - '29088751000'
      X-Title[...]
