---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":{"type":"status","id":"gamelocker","attributes":{"releasedAt":"2017-06-01T15:10:35Z","version":"gamelockerd-v6.1.6"}}}
  recorded_at: Tue, 06 Jun 2017 22:11:53 GMT
recorded_with: VCR 3.0.3
