---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":{"type":"status","id":"gamelocker","attributes":{"releasedAt":"2017-05-23T14:50:20Z","version":"gamelockerd-v6.1.4"}}}
  recorded_at: Fri, 26 May 2017 19:46:03 GMT
recorded_with: VCR 3.0.3
