---
http_interactions:
- request:
    method: get
    uri: https://api.dc01.gamelockerapp.com/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {"data":{"type":"status","id":"gamelocker","attributes":{"releasedAt":"2017-03-25T01:36:45Z","version":"master"}}}
  recorded_at: Tue, 28 Mar 2017 06:21:58 GMT
recorded_with: VCR 3.0.3
